body {
  background-image: url("dark_wood.png");
}

div {
  /*
    background, border-radius and box-shadow is extra.
  */
  background: linear-gradient(141deg, #5c0374 0%, #152cb0 51%, #2f8bfc 75%);
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
}

p {
  font-weight: bold;
  color: white;
  font-family: Arial;
}
h1, h3 {
  font-family: "Passion One";
  color: #FFBC00;
}

h3 {
  font-size: 40px;
  margin-bottom: 0px;
}

a {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

#Header, #LeftNav, #Content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: solid 8px black;
}

#Header {
  /*
    text-shadow and font-style is extra.
  */
  text-shadow: 2px 2px 4px #000000;
  font-style: italic;
  width: 500px;
}

#Header h1 {
  font-size: 60px;
  font-weight: bold;
}

#LeftNav {
  float: left;
  text-align: center;
  width: 400px;
}

#Content {
  width: 700px;
}

#Footer {
  text-align: center;
  border: solid 8px black;
}
